<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.automativedoor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />

        <activity
            android:name=".login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".forgot_pass" android:label="@string/forgot_pass" />
        <activity android:name=".HomePage" android:label="@string/homepage" />
        <activity android:name=".Component" android:label="@string/component" />
        <activity android:name=".feedback" android:label="@string/response" />
        <activity android:name=".History" android:label="@string/history" />
        <activity android:name=".GeneralHistory" android:label="GeneralHistory" />
        <activity android:name=".HistoryDetail" android:label="HistoryDetail" />
        <activity android:name=".Sensor" android:label="@string/sensor" />
        <activity android:name=".Servo" android:label="@string/servo" />
        <activity android:name=".Speaker" android:label="@string/speaker" />
        <activity android:name=".pin" android:label="@string/pin" />


        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.example.automativedoor.Control.SensorService" android:enabled="true" android:exported="true" />

    </application>

</manifest>